<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Sner 4 shodan</h2>
</div>

{{#each this.model as |host|}}
  <Host @host={{host}}/>
  {{#each this.model as |serviceUint|}}
  <Service @services={{serviceUint}}/>
  {{/each}}
{{/each}}
